<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ABOUT</title>
</head>
<body>
    {{> header}}
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus reprehenderit ipsum, officiis laborum ea aliquid sit illum ipsam nulla laudantium eum omnis numquam aspernatur tempore adipisci voluptas officia, facilis perspiciatis!</p>
    {{> footer}}
</body>
</html>