<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ABOUT</title>
</head>
<body>
    {{> header}}
    <p>Welcome {{getOwner}}, This is a template page that uses <i>Handlebars</i>.</p>
    {{> footer}}
</body>
</html>