<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>MAINTENANCE PAGE</title>
    </head>
    <body>
        <h1>Server is Down</h1>
        <p>We are sorry for the incovenience. We will be back shortly</p>
    </body>

</html>