<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>PROJECTS</title>
</head>
<body>
    {{> header}}
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum aut quia harum eos veritatis numquam delectus porro totam quam facere aliquam voluptate non qui, quo deleniti similique quod amet.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum aut quia harum eos veritatis numquam delectus porro totam quam facere aliquam voluptate non qui, quo deleniti similique quod amet.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum aut quia harum eos veritatis numquam delectus porro totam quam facere aliquam voluptate non qui, quo deleniti similique quod amet.</p>
    {{> footer}}
</body>
</html>